html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: white;
  color: #959697;
  margin: 0;
  padding: 0; }

header {
  color: #959697;
  text-align: center; }

h1 {
  font-size: 71px;
  font-family: "Courier New";
  font-weight: 400; }
  @media screen and (max-width: 690px) {
    h1 {
      font-size: 60px; } }
  @media screen and (max-width: 580px) {
    h1 {
      font-size: 36px; } }

footer {
  width: 100%;
  margin: 10px auto 5px auto;
  text-align: center;
  color: #959697;
  font-family: "PT Sans", sans-serif;
  font-weight: lighter; }

a {
  text-decoration: none;
  color: #959697; }

input, select, textarea {
  font-size: 24px; }

input[type=search] {
  width: 100%;
  height: 100%;
  border: none; }

input:focus {
  outline: none; }

ul {
  width: 100%; }

.container {
  width: 100vw;
  max-width: 690px;
  height: 100vh;
  margin: 0 auto; }
  @media screen and (max-width: 690px) {
    .container {
      width: 90%; } }

.form {
  text-align: center; }

.button {
  padding: 10px 40px;
  color: #959697;
  font-size: 13px;
  background: none;
  margin: 0 20px;
  border: 1px solid #959697; }
  .button:hover {
    cursor: pointer;
    border-color: #c9c9ca; }
  .button:focus {
    outline: 0; }

.search-bar {
  border: 1px solid black;
  padding: 8px 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

.button-box {
  display: flex;
  margin-top: 20px;
  justify-content: center; }

.result-card {
  list-style-type: none;
  width: 100%;
  color: black;
  text-decoration: none;
  border-left: solid 2px #25198f;
  padding: 0 15px;
  margin-top: 30px; }
  .result-card:hover {
    border-left: solid 4px #ea9c43;
    transition-duration: .2s; }

.slide-1,
.slide-2,
.slide-3,
.slide-4,
.slide-5,
.slide-6,
.slide-7,
.slide-8,
.slide-9,
.slide-10 {
  opacity: 0;
  animation: fadeIn .6s linear;
  animation-fill-mode: forwards; }

.slide-1 {
  animation-delay: 0.1s; }

.slide-2 {
  animation-delay: 0.2s; }

.slide-3 {
  animation-delay: 0.3s; }

.slide-4 {
  animation-delay: 0.4s; }

.slide-5 {
  animation-delay: 0.5s; }

.slide-6 {
  animation-delay: 0.6s; }

.slide-7 {
  animation-delay: 0.7s; }

.slide-8 {
  animation-delay: 0.8s; }

.slide-9 {
  animation-delay: 0.9s; }

.slide-10 {
  animation-delay: 1s; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.1); }
  85% {
    opacity: 1;
    transform: scale(1.01); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes slideIn {
  0% {
    margin-right: 100%; }
  85% {
    margin-right: 105%; }
  100% {
    margin-right: 0; } }

body.night {
  background: #25198f; }

input.night {
  background: #25198f;
  color: #959697; }

.result-card.night {
  border-left: 1px solid #ea9c43;
  color: #959697; }
